name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  tests:
    name: Run tests with Cerbos
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: "3.13"

      - name: Setup Cerbos
        uses: cerbos/cerbos-setup-action@509a040e83a81b1095ff4ce1cbda72d62af1f75c # v1

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          version: "latest"

      - name: Install dependencies
        run: |
          uv sync --dev

      - name: Run pytest with Cerbos PDP
        run: |
          cerbos run -- uv run pytest
